# Umum / Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
coverage/
.env
.env.*

# Konfigurasi IDE
*.iml
*.ipr
*.iws
.idea/
#.vscode/

# Flutter/Dart/Pub Spesifik
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
.packages
*.g.dart
*.freezed.dart
*.gr.dart

# Android Spesifik
/android/app/build/
/android/build/
/android/.gradle/
/android/app/.cxx/
/android/app/.externalNativeBuild/
/android/app/src/main/assets/flutter_assets/
/android/app/src/main/res/raw/
android/local.properties
/android/app/my-release-key.jks
/android/key.properties
/android/signing.properties

# iOS Spesifik
ios/.symlinks/
ios/.generated/
ios/build/
ios/Flutter/Generated.xcconfig
ios/Flutter/App.framework/
ios/Flutter/Flutter.framework/
ios/Pods/
ios/Runner.xcworkspace/xcuserdata/

# Web Spesifik
/web/

# Simbolisasi dan Obfuscation
app.*.symbols
app.*.map.json